#lefthead{
    display: inline-block;

}
#righthead{
    display: inline-block;
    margin-left: 15rem;
    align-items: center;
}
#search{
    position: absolute;
    top: 15%;
    left: 30%;
    font-size: 1.5rem;
}
#searchbutton{
    font-size: 1.5rem;
    position: absolute;
    top: 15%;
    left: 45%;
}

h1{
    font-size: 2rem;
    padding: 2rem;
    margin: 2rem;
}
h2{
    padding: 2rem;
    margin: 3rem;
}

li{
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
#left{
    position: absolute;
    left: 0%;
}
#mid{
    position: absolute;
    left: 30%;
}
#right{
    
    position: absolute;
    top: 31%;
    left: 48%;
}
#card{
    padding: 2rem;
    margin: 3rem;
    border: solid 3px black;
}
#sortE{
    font-size: 1.5rem;
    margin: 2rem;
    position: absolute;
    margin-top: 5rem;
}
#getEdu{
    width: 14rem;
    height: 5rem;
    margin: 2rem;
    position: absolute;
    margin-top: 15rem;
}
#sortAu{
    width: 7rem;
    height: 5rem;
    margin: 1rem;
    position: absolute;
    margin-top: 25rem;
}
#sortAd{
    width: 7rem;
    height: 5rem;
    margin: 2rem;
    position: absolute;
    margin-left: 10rem;
    margin-top: 25rem;
}
#sortFirstu{
    width: 7rem;
    height: 5rem;
    margin: 1rem;
    position: absolute;
    margin-top: 35rem;
}
#sortFirstd{
    width: 7rem;
    height: 5rem;
    margin: 2rem;
    position: absolute;
    margin-left: 10rem;
    margin-top: 35rem;
}
#sortLastu{
    width: 7rem;
    height: 5rem;
    margin: 1rem;
    position: absolute;
    margin-top: 45rem;
}
#sortLastd{
    width: 7rem;
    height: 5rem;
    margin: 2rem;
    position: absolute;
    margin-left: 10rem;
    margin-top: 45rem;
}